/* Aliados container */

.aliados-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 10px 50px;
    background-color: #fff;
    margin-bottom: 50px;
    gap: 20px;
}

.aliados-container img {
    width: 20%;
}

/* Aliados bottom */

.aliados-container-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 90%;
    padding: 0 40px;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 50px;
}

.aliados-container-bottom img {
    width: 25%;
}

/* mobile media query */

@media screen and (max-width: 768px) {

    .aliados-container {
        padding: 0;
        width: 100%;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .aliados-container-bottom {
        flex-direction: row;
        padding: 0;
        width: 100%;
        padding: 10px;
    }

}
