/* Aliados container */

@keyframes slide {
    form {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.aliados-container {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0;
}

.aliados-slider {
    display: inline-block;
    width: 115%;
    animation: 30s slide infinite linear;
}

.aliados-slider img {
    display: inline-block;
    margin: 5px 50px;
    width: auto;
    height: 100px;
}

/* Aliados bottom */

.aliados-container-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 90%;
    padding: 25px 60px;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 50px;
}

.aliados-container-bottom img {
    width: 25%;
}

/* mobile media query */

@media screen and (max-width: 768px) {

    .aliados-container {
        padding: 0;
        width: 100%;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .aliados-container-bottom {
        flex-direction: row;
        padding: 0;
        width: 100%;
        padding: 10px;
    }

    .aliados-slider {
        display: inline-block;
        width: 150%;
        animation: 10s slide infinite linear;
    }

    .aliados-slider img {
        margin: 5px;
        width: 150px;
        height: auto;
    }

}