/* Pasos promo */

.main-pasos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.pasos-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pasos-text-container img {
    width: 45%;
}

.pasos-container {
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    padding: 50px;
    z-index: 1;
}

.pasos-container img {
    width: 23%;
}


/* Info video container */

.info-video-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 150px;
}

.info-video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80%;
    border: 4px solid #fff;
    border-radius: 20px;
    position: relative;
}

.info-video-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 30px;
}

.info-video-text-title {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 15px;
    line-height: 1;
}

.info-video-text span {
    display: block;
}

.info-video-text p {
    color: #fff;
    font-size: 1.4rem;
    width: 60%;
}

.info-video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 100%;
    position: relative;
}

.info-video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 340px;
    left: -20px;
    right: -20px;
}

.info-video-mobile {
    display: none;
}

/* Media query mobile */

/* Pasos container */

@media screen and (max-width: 768px) {

    .main-pasos-container {
        margin-bottom: 10px;
    }

    .pasos-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 0;
        padding: 50px;
        gap: 20px;
        z-index: 1;
    }

    .pasos-container img {
        width: 90%;
    }

    .pasos-text-container img {
        width: 90%;
    }

    /* Video */

    .info-video-container {
        flex-direction: column;
        width: 90%;
    }

    .info-video-main-container {
        margin-top: 10px;
        margin-bottom: 55px;
    }

    .info-video-text {
        width: 100%;
        text-align: center;
    }

    .info-video-text-title {
        font-size: 2.4rem;
    }

    .info-video-text p {
        font-size: 1.2rem;
        font-weight: lighter;
        width: 100%;
    }

    .info-video {
        display: none;
    }

    .info-video-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .info-video-mobile iframe {
        width: 95%;
        height: 200px;
        right: 0;
    }


}