/* TODO: registro codigos */

.main-registro-codigos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 50px;
}

.registro-historial-codigos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33%;
}

.historial-codigos {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 50px;
    min-height: 735px;
    background: linear-gradient(to top, #004A99, #007FC8);
}

.historial-codigos-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.historial-codigos-btn button {
    padding: 10px 30px;
    border-top: #FF6700 1px solid;
    border-right: #FF6700 1px solid;
    border-left: #FF6700 1px solid;
    border-bottom: none;
    background-color: #007FC8;
    color: #fff;
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.historial-codigos-btn button:hover {
    background-color: #FF6700;
    color: #fff;
}

.historial-codigos table {
    width: 100%;
    border-collapse: collapse;
    color: #fff; 
    font-size: 1.2rem;
}

.historial-codigos tr {
    border: 1px solid #fff;
    
}

.historial-codigos td {
    border: 1px solid #fff;
    background-color: #1085C5;
    padding: 8px;
}

.historial-codigos tr:nth-child(even) {
    background-color: #f9f9f9;
}

.main-asesor-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.asesor-items {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.asesor-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 50px;
}

.btn-active {
    border: none;
    background: #FF6700 !important;
    background-color: #FF6700 !important;
}

.registro-codigos-title {
    color: #fff;
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.asesor-menu-item button {
    padding: 10px 30px;
    border: #FF6700 1px solid;
    background-color: #007FC8;
    color: #fff;
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.asesor-menu-item button:hover {
    background-color: #FF6700;
    color: #fff;
}

.registro-puntos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.puntos-registrados-container, .ranking-general-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}



.registro-codigos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 50px;
    background: linear-gradient(to top, #004A99, #007FC8);
}

.registro-codigos input[type="text"],
.registro-codigos button {
    width: 100%;
    padding: 10px;
    border: #fff 2px solid;
    border-radius: 5px;
    background: none;
    margin-bottom: 20px;
    color: #fff;
}

.registro-codigos select {
    width: 100%;
    padding: 10px;
    border: #fff 2px solid;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #000;
}


.registro-codigos input[type="file"] {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: #fff 2px solid;
    border-radius: 5px;
    background: none;
    margin-bottom: 20px;
}

.registro-codigos select:focus,
.registro-codigos input[type="file"]:focus,
.registro-codigos input[type="text"]:focus {
    border: #FF6700 2px solid;
}

.registro-codigos label {
    align-self: flex-start;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
}

.registro-codigos button {
    width: 45%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #FF6700;
    color: #fff;
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.registro-codigos button:hover {
    background-color: #fff;
    color: #FF6700;
}

.checkbox-container-codigos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.upload-container-codigos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
}

.upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
    padding: 10px;
    border: #fff 2px solid;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
}

.upload-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.upload-container p {
    color: #fff;
    font-size: 1rem;
}

.camara-img i{
    font-size: 3rem;
    color: #004A99;
}

/* Registro de puntos */

.registro-puntos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 50px 200px;
    border: #FF6700 1px solid;
    background: linear-gradient(to top, #004A99, #007FC8);
}

.registro-puntos-title {
    color: #fff;
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.registro-puntos input[type="text"],
.registro-puntos button {
    width: 100%;
    padding: 10px;
    border: #fff 2px solid;
    border-radius: 5px;
    background: none;
    margin-bottom: 20px;
}

.registro-puntos select {
    width: 100%;
    padding: 10px;
    border: #fff 2px solid;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #000;
}

.registro-puntos input[type="file"] {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: #fff 2px solid;
    border-radius: 5px;
    background: none;
    margin-bottom: 20px;
}

.registro-puntos select:focus,
.registro-puntos input[type="file"]:focus,
.registro-puntos input[type="text"]:focus {
    border: #FF6700 2px solid;
}

.registro-puntos label {
    align-self: flex-start;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
}

.registro-puntos button {
    width: 45%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #FF6700;
    color: #fff;
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.registro-puntos button:hover {
    background-color: #fff;
    color: #FF6700;
}




/* puntos-registrados */

.puntos-registrados {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 50px 200px;
    border: #FF6700 1px solid;
    background: linear-gradient(to top, #004A99, #007FC8);
}

.puntos-registrados h1 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 2.5rem;
    width: 100%;
    border-bottom: #FF6700 1px solid;
}

.puntos-registrados table {
    width: 100%;
    border-collapse: collapse;
    color: #fff; 
    font-size: 1.2rem;
}

.puntos-registrados tr {
    border: 1px solid #fff;
    
}

.puntos-registrados td {
    border: 1px solid #fff;
    background-color: #1085C5;
    padding: 8px;
}

.puntos-registrados tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Ranking */

.ranking-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 50px 200px;
    border: #FF6700 1px solid;
    background: linear-gradient(to top, #004A99, #007FC8);
}

.ranking-container h1 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 2.5rem;
    width: 100%;
    border-bottom: #FF6700 1px solid;
}

.ranking-container table {
    width: 100%;
    border-collapse: collapse;
    color: #fff; 
    font-size: 1.2rem;
}

.ranking-container tr {
    border: 1px solid #fff;
    
}

.ranking-container td {
    border: 1px solid #fff;
    background-color: #1085C5;
    padding: 8px;
}

.ranking-container tr:nth-child(even) {
    background-color: #f9f9f9;
}



/* Mobile media query */

@media screen and (max-width: 768px) {

    .main-registro-codigos {
        flex-direction: column;
        padding: 0;
        width: 100%;
    }

    .registro-historial-codigos {
        width: 95%;
        padding: 20px;
    }

    .historial-codigos-btn button {
        padding: 5px 20px;
        border: #FF6700 1px solid;
        background-color: #007FC8;
        color: #fff;
        font-weight: bold;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .historial-codigos {
        width: 95%;
        padding: 20px;
    }

    .registro-codigos {
        width: 100%;
        padding: 20px;
    }

    .registro-puntos {
        width: 95%;
        padding: 20px;
    }

    .puntos-registrados {
        width: 95%;
        padding: 20px;
    }

    .ranking-container {
        width: 95%;
        padding: 20px;
    }


    .registro-codigos input[type="text"],
    .registro-codigos button,
    .registro-puntos input[type="text"],
    .registro-puntos button {
        width: 100%;
    }

    .registro-codigos select,
    .registro-puntos select {
        width: 100%;
    }

    .registro-codigos input[type="file"],
    .registro-puntos input[type="file"] {
        width: 100%;
    }

    .registro-codigos button,
    .registro-puntos button {
        width: 50%;
    }

    .upload-container {
        width: 100%;
    }

    .puntos-registrados table {
        width: 100%;
        font-size: 0.9rem;
    }

    .puntos-registrados td {
        padding: 5px;
    }

    .puntos-registrados h1 {
        font-size: 2rem;
    }

    .ranking-container table {
        width: 100%;
        font-size: 1rem;
    }

    .ranking-container td {
        padding: 5px;
    }

    .ranking-container h1 {
        font-size: 2rem;
    }

    .registro-codigos-title {
        font-size: 1.9rem;
    }

    .registro-puntos h2 {
        font-size: 2rem;
    }

    .asesor-menu {
        width: 95%;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .asesor-menu-item button {
        font-size: 0.9rem;
        padding: 10px;
    }
}


