.main-container {
    height: 100vh;
}

.recuperar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    min-width: 300px;
    padding: 50px;
    background: linear-gradient(to top, #004A99, #007FC8);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 50px;
}

.recuperar-container h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 2.2rem;
}

.recuperar-container form {
    width: 100%;
}

.recuperar-container label {
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 5px;
    display: block;
}

.recuperar-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.recuperar-container .btn-container-recuperar {
    display: flex;
    justify-content: center;
}

.recuperar-container .btn-container-recuperar button {
    background-color: #ff6700;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.recuperar-container .btn-container-recuperar button:hover {
    background-color: #e65c00;
}

/* Mobile media query */
@media (max-width: 768px) {
    .recuperar-container {
        width: 90%;
        min-width: 0;
        padding: 20px;
    }

    .recuperar-container h2 {
        font-size: 1.8rem;
    }

    .recuperar-container input[type="email"] {
        padding: 8px;
    }

    .recuperar-container .btn-container-recuperar button {
        padding: 8px 15px;
    }

    .recuperar-container .btn-container-recuperar button {
        font-size: 0.9em;
    }

    .recuperar-container label {
        font-size: 1em;
    }
}