* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #000;
}

canvas {
    height: 100% !important;
    width: 100% !important;
}

#game-container {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    #game-container-desk {
        display: none;
    }

    #game-container-mobile {
        display: block;
    }

    body {
        background-image: url('../../assets/ruleta/mobile/bg.png');
        background-size: cover;
    }
}

@media (min-width: 769px) {
    #game-container-desk {
        display: flex;
        justify-content: center;
    }

    #game-container-mobile {
        display: none;
    }

    body {
        /* background-image: url('../../assets/ruleta/desk/bg.png');
        background-size: cover; */
        background-color: #000;
    }

    canvas {
        height: 100% !important;
        width: 85% !important;
    }
}
 